@import url('base.css');

.jp-Button.toc-button {
    color: var(--jp-layout-color4);
    background-color: var(--jp-layout-color1);
}
.jp-Button.toc-button:hover {
    color: var(--jp-layout-color3);
}

#toc_title {
    font-size: var(--jp-ui-font-size2);
    font-weight: bold;
    color: var(--jp-ui-font-color0);
}
